header {
  background: url(images/central_park.jpg) center center no-repeat;
  background-size: cover;
  height: 400px;
  padding-top: 100px;
  padding-left: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }

  header {
    background-position: center top;
    height: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    background-size: 1500px;
  }
}